body {
color: black;
background: white;
}

@media (prefers-color-scheme: dark) {
body {
color: #CCCCCC;
background: #313238;
}
input {
background: #CCCCCC;
}
.my-select {
background-color:#CCCCCC;

}
