body {
color: black;
}
.container {
			display: flex;
			flex-wrap: wrap;
		}
		.ite {
			flex: 1 1 100%;
			padding: 10px;
			box-sizing: border-box;max-width: 490px !important;
		}
		.item-left,  .item-right {
			flex: 1 1 100%;max-width:450px；box-sizing: border-box;
		}
		@media screen and (min-width: 768px) {body{
		background-image: url(./icons/back-page.svg);
        background-position: center;
        background-repeat: repeat;
        background-size: cover;}
			.ite {
				flex: 1;padding: 10px;
			}
			.item-left {
				order: 1;flex: 0 0 40%;margin:15px 3% auto auto;max-width: 450px
			}
			.item-center {
				order: 2;flex: 0 0 5%;
			}
			.item-right {
				order: 3;flex: 0 0 40%;margin:15px auto auto 3%;max-width: 450px
			}
			.container {
				display: flex;
				flex-wrap: nowrap;
			}
			.popup { 
			position: fixed;
		    height: 50%;
            width: 60%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
			z-index: 1000;
			display: none;
		}
		}
/* 遮罩层样式 */
		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: 999;
			display: none;
		}
		/* 弹出框样式 */
		@media screen and (max-width: 767px) {
    .popup { 
			position: fixed;
		    height: 60%;
            width: 80%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
			z-index: 1000;
			display: none;
		}
	}

.playBut {display:inline-block;
    -webkit-transition: all 0.5s ease;
     
  .triangle {
    -webkit-transition: all 0.7s ease-in-out;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: var(--triangle-color, black);
    transform: translateY(0) 
   }
  
  
  &:hover {
    
    .triangle {
      stroke-dashoffset: 0;
      opacity: 1;
      stroke: #53BBE7;
      animation: nudge 0.7s ease-in-out;
      
      @keyframes nudge{
        0% {
          transform: translateX(0)  
        }
        30% {
          transform: translateX(-10px)
        }
        50% {
          transform: translateX(10px)
        }
        70% {
          transform: translateX(-2px)
        }
        100% {
          transform: translateX(0)
        }
      }
    }  
  }
}

  
  
	
.pa {
  display: flex;
  justify-content: center;}
.pa a {  font-size: 12px;  font-weight: bold;
  padding: 0;
  margin: 0;
  color: black;
  background-image: linear-gradient(to bottom, transparent 65%, #7878EA 0);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size .4s ease;
}

.pa a:hover {
  background-size: 100% 100%;
  cursor: pointer;
}
.input-boxLine {
	position: relative;
	width: 60%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.input-boxLine input {
	width: 100%;
	height: 100%;
	border: none;
	font-size: 15px;
	border-bottom: 2px solid #53BBE7;
	color: #616161;
    border-radius: 5px;
}

.input-boxLine span {
	position: absolute;
	bottom: 10px;
	font-size: 15px;
	left: 0px;
	color: #616161;
	pointer-events: none;
	transition: all 0.3s ease;
}

.input-boxLine .line {
	position: absolute;
	bottom: -1px;
	height: 3px;
	width: 100%;
	background-color: #53BBE7;
	transform: scaleX(0);
	transition: all 0.3s ease;
}
.input-boxLine input:focus~span,
.input-boxLine input:valid~span {
	top: -15px;
	font-size: 12px;
	color: #53BBE7;
	font-style: oblique;
	font-weight:bold;
}

.input-boxLine input:focus~.line,
.input-boxLine input:valid~.line {
	transform: scaleX(1);
}

.preloader {
    height: 90px;
    display: flex;
    transform: rotate(180deg);
}

.preloader span {
    width: 36px;
    margin: 0 2px;
    border-radius: 4px;
    animation: loading 2s infinite;
}

@keyframes loading {

    0%, 100% {
        height: 10px;
        background: #ffd166;
    }

    25% {
        height: 90px;
        background: #06d6a0;
    }

    50% {
        height: 40px;
        background: #118ab2;
    }

    75% {
        height: 90px;
        background: #ef476f;
    }

}

.preloader span:nth-child(1) {
    animation-delay: .2s;
}

.preloader span:nth-child(2) {
    animation-delay: .4s;
}

.preloader span:nth-child(3) {
    animation-delay: .6s;
}

.preloader span:nth-child(4) {
    animation-delay: .8s;
}

.preloader span:nth-child(5) {
    animation-delay: 1s;
}
[type="date"] {
  background:#fff url(./icons/calendar.webp)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.date input{ border: 1px solid #c4c4c4;
  border-bottom: 2px solid #7878EA ;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 30%;}
 .station_select{display:block;width:50%;height:35px;margin:0 auto 15px auto;text-align:center; border: 1px solid #c4c4c4;
  border-bottom: 3px solid #7878EA ;
  border-radius: 5px;
  }
 
@media (prefers-color-scheme: dark) {
body {
color: #CCCCCC;
background: #313238;
background-image: none;}
input {
background: #CCCCCC;
}
.control {
    filter: invert(80%);
  }
:root {
        --triangle-color: #CCCCCC;}
.my-select {
background-color:#CCCCCC;

}
.date input{
background-color:#CCCCCC;
}

.btn { background: #CCCCCC;}
.pa a {color:#CCCCCC;}
.popup {background: #CCCCCC;}
}
